@charset "utf-8";

/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
body{
  background-color: #000;
}
/*FORMATANDO O CABEÇALHO*/
.cabecalho{
  width: 100%;
  height: 700px;
  background: url(../img/fundo.jpg);
  background-position: top center;
  background-size: cover;
}
.bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.601);
}
.cabecalho nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.cabecalho nav h1{
  color: red;
  font-size: 40px;
}
.cabecalho nav button{
  color: white;
  width: 80px;
  height: 40px;
  background-color: red;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.centralizar{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centralizar h2{
  text-align: center;
  width: 650px;
  color: white;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 20px;
}
.centralizar h3{
  line-height: 21px;
  color: white;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: normal;
}
.centralizar p{
  color: white;
  font-size: 16px;
}
.centralizar div{
  display: flex;
  margin-top: 30px;
}
.centralizar input{
  padding: 5px;
  width: 500px;
  height: 60px;
}
.centralizar button{
  height: 60px;
  color: white;
  width: 180px;
  background-color: rgb(207, 6, 6);
  border: none;
  font-size: 1.8em;
  cursor: pointer;
}


/*MEDIA QUERIE*/
@media screen and (max-width:600px) {
  .cabecalho{
    height: 600px;
  }
  .cabecalho nav{
    max-width: 100%;
    align-items: center;
    padding: 5px;
  }
  .cabecalho nav h1{
    font-size: 30px;
  }
  
  .centralizar h2{
    line-height: normal;
    font-size: 2em;
    width: 350px;
  }
  .centralizar p{
    width: 90%;
    font-size: 1em;
    text-align: center;
  }
  .centralizar h3{
    line-height: 31px;
    text-align: center;
  }
  .centralizar div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centralizar div input{
    width: 90%;
    margin: 5px;
  }
  .centralizar div button{
    width: 90%;
    border: 5px;
    font-size: 1.5em;
  }
  
}

/*FORMTANDO A SECÇÃO DE VIDEO*/
.video{
  margin: 70px 0 50px 0;
  border-top: solid rgba(114, 107, 107, 0.363) 8px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #fff;
}
.video div{
  margin: 50px;
  width: 50%;
}
.texto{
  width: 500px;
  text-align: justify;
  
}
.texto h2{
  font-size: 2.5em;
}
.texto h3{
  font-weight: normal;
  font-size:1.5em;
}
.cartao-video{
  position: relative;
}

.cartao-video img{
  position: absolute;
  left: -12px;
  top: -19px;
}
/*MEDIA QUERIE*/
@media screen and (max-width:600px) {
  .video{
    max-width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .video div{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .texto{
    text-align: center;
    padding: 8px;
    margin-bottom: 6px;
    max-width: 100%;
  }
  .texto h2{
    font-size: 1.5em;
  }
  .texto h3{
    font-size: 1em;
  }
  .cartao-video img{
    max-width: 100%;
    left: 0px;
    top: 0;
  }
  .cartao-video video{
    width: 100%;
  }
}

/*FORMATANDO A PARTE DA APP*/
.app{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid rgba(114, 107, 107, 0.363) 8px;
  margin: 70px 0 50px 0;
  color: #fff;
}
.app div{
  width: 50%;
}
.app div h1{
  width: 450px;
  font-size: 2.5em;
  margin-bottom: 8px;
}
.app div h3{
  width: 500px;
  font-size: 2em;
  font-weight: normal;
}
.animacao{
  background-color: #000;
  width: 380px !important;
  height: 100px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  top: 300px;
  left: 132px;
  position: absolute;
  display: flex;
  align-items: center;
  border: solid rgba(114, 107, 107, 0.363) 3px;
}
.text{
  margin: 8px;
  width: 50% !important;
}
.text h4{
  text-align: justify;
}
.text p{
  color: rgb(9, 71, 216);
  font-size: 15px;
}
/*MEDIA QUERIE*/
@media screen and (max-width:600px){
  .app{
    flex-wrap: wrap;
  }
  .app div h1{
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }
  .app div h3{
    text-align: center;
    width: 100%;
    font-size: 1em;
  }
  .app div{
    width: 100%;
  }
  .app img{
    max-width: 100%;
  }
  .animacao{
    width: 270px !important;
    top: 160px;
    left: 40px;
  }
}
/*FORMATANDO A PARTE DE ALL DEVICES*/
.all-devices{
  display: flex;
  padding-top:20px;
  flex-direction: column;
  justify-content: center;
  border-top: solid rgba(114, 107, 107, 0.363) 8px;
  margin: 70px 0 50px 0;
  color: #fff;
}
.all-devices div{
  margin-left:50px;
  width: 50%;
}
.all-devices div h2{
  font-size: 2.5em;
}
.all-devices div h3{
  font-weight: normal;
  font-size: 1.8em;
}

/*MEDIA QUERIE*/
@media screen and (max-width:600px){
  .all-devices div{
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .all-devices div h2{
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .all-devices div h3{
    font-size: 1em;
    padding: 5px;
  }

}
/*FORMATANDO A SEÇÃO KIDS*/
.kids{
  border-top: solid rgba(114, 107, 107, 0.363) 8px;
  margin: 70px 0 50px 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: solid rgba(114, 107, 107, 0.363) 8px;
}
.kids h2{
  width: 350px;
  font-size: 2.5em;
  margin-bottom: 10px;
}
.kids h3{
  
  font-weight: normal;
  width: 500px;
  font-size: 1.5em;
}
.kids h3 i{
  float: left;
}
/*MEDIA QUERIE*/
@media screen and (max-width:600px){
  .kids{
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .kids img{
    width: 100%;
  }
  .kids h2{
    font-size: 1.5em;
    width: 100%;
  }
  .kids h3{
    font-size: 1em;
    width: 100%;
  }
}
/*FORMATANDO A SECTION FAQS*/
.faqs{
  margin: auto;
  width: 50%;
  color: #fff;
}
.faqs li{
  margin-bottom: 8px;
  position: relative;
  background-color: #303030;
  list-style: none;
}
.faqs h2{
  margin-bottom: 20px;
  padding-left: 100px;
  font-size: 2.5em;
}
.faqs li h3{
  font-weight: normal;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.8em;
}
.faqs li h3 i{
  cursor: pointer;
}
#fechar{
  display: none;
}

.faqs li p{
  font-size: 1.5em;
}
.faqs li p:nth-child(1){
  margin-bottom: 20px;
}

.faqs div{
  display: none;
  border-top: solid 3px black;
  padding: 30px; 
  background-color: #303030;
  text-align: left;
  position: absolute;
}
.faqs form{
  width: 100%;
}
/*media queries*/
@media screen and (max-width:600px){
  .faqs{
    width: 100%;
  }
  .faqs h2{
  font-size: 1.8em;
}
.faqs li{
  width: 100%;
}
}

/*FORMATANDO A PARTE DO FOOTER*/
footer{
  border-top: solid rgba(114, 107, 107, 0.363) 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin-top: 20px;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  margin: 5px;
}
footer p i{
  color: red;
}
@media screen and (max-width:600px){
  footer{
    width: 100%;
  }
  footer p a{
    font-size: 1em;
  }
}